/*
 * Globals
 */

body{background:#F3F2EE}
body,button,input,select,textarea {
    /* font: 14px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53; */
    font: 500 14px/1.8 'PT Serif','Hiragino Sans GB',sans-serif
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'PT Serif','Hiragino Sans GB',sans-serif;
  font-weight: 500;
  line-height:1.2;
  color: #333;
  margin-top: 0;
  margin-bottom:25px
}

a {
    color: #065588;
    font-size: 100%;
}
hr{border-color:#C5C5C5}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav {

}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #A7AAB1;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 1.5;
}
.blog-post{
  font-size: 16px;
  line-height: 1.5;
  padding-top:50px;
  padding-bottom:20px;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}

.blog-post-content{margin: 20px 0;}
.blog-post-content ul{margin-bottom: 25px;}
.blog-post-content ol{margin-bottom: 25px;}
.blog-post-content p{margin-bottom: 40px;}
.blog-post-content p+ul{margin-top: -15px;}
.blog-post-content p+ol{margin-top: -15px;}
.blog-post-content li{margin-bottom:5px;margin-left:15px}
.blog-post-content p+pre{margin-bottom:40px;margin-top:-20px}
.blog-post-title {
  margin-bottom: 15px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 1em;
  color: #A7AAB1;
}
.blog-post-description{color:#333;font-style:italic;}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #A7AAB1;
  text-align: center;
  background-color: #F3F2EE;
  border-top: 1px solid #e5e5e5;
}

